        <!-- Jumbotron -->
        <div class="jumbotron text-center">
            <h1>Créditos</h1>
        </div>
        <!-- form 1 -->
        <div class="row">
            <div class="col-sm-8">
                <h3>Nicolas Muñoz Lopez</h3>
                <p>Version original Quiz adaptada de Juan Quemada, MiriadaX curso node.js</p>
                <a href="https://github.com/nicolasml/myQuiz">Proyeto Git </a><br/>
                <a href="https://nicolasmlquiz.herokuapp.com/">Despliegue en Heroku</a><br/>
            </div>
            <div  class="col-sm-4">
                <img src="/images/yo_carnet.png">
            </div>
        </div>
