        <!-- Jumbotron -->
        <div class="jumbotron text-center">
            <h1>Respuesta</h1>
        </div>
        <!-- form 1 answer -->
        <div class="row">
            <div class="col-sm-9">
                <h3><%= respuesta %></h3>
                <a href="/quizes/<%= quiz.id %>">Inténtelo otra vez </a>
            </div>
        </div>
