        <!-- Jumbotron -->
        <div class="jumbotron text-center">
            <h1>Preguntas</h1>
            <br/>
            <!-- form 1 -->
            <form class="form-horizontal" action="/quizes" method="GET">
                <!-- form content here -->
                <div class="form-group">
                    <!-- label and control -->
                    <label for="search" class="control-label col-sm-4">Buscar quizzes</label>
                    <div class="col-sm-4">
                        <input type="text" name="search" id="search" class="form-control" placeholder="Texto"/>
                    </div>
                    <div class="col-sm-4 text-left">
                        <button type="submit" class="btn btn-success">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- list-->
        <% for (var i=0; i < quizes.length; i++) {%>
        <div class="row">
            <div class="col-sm-9">
                <p><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></p>
            </div>
        </div>
        <% } %>
