        <!-- Jumbotron -->
        <div class="jumbotron text-center">
            <h1>Pregunta</h1>
        </div>
        <!-- form 1 -->
        <form class="form-horizontal" action="/quizes/answer" method="GET">
            <!-- form content here -->
            <div class="form-group">
                <!-- label and control -->
                <label for="respuesta" class="control-label col-sm-4"><%= pregunta %></label>
                <div class="col-sm-4">
                    <input type="text" name="respuesta" id="respuesta" class="form-control" placeholder="Respuesta"/>
                </div>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-success">Enviar</button>
                </div>
            </div>
        </form>
